{% extends 'index.html' %}
{% load static %}

{% block content %}

{% if articles %}
    {% for article in articles %}
        <div class='article-container'>
            <a href={% url 'article details' article.slug %}><h1>{{article.title}}</h1></a>
            <p>posted by {{article.author}} on {{article.published}}</p>
            <p>{{article.body | truncatewords:25 | linebreaks}}</p>
        </div>
    {% endfor %}
    {% include 'pagination.html' with page=page_obj %}
{% else %}
    <h2>There are no article yet, please come back again soon</h2>
{% endif %}

{% endblock content %}